body {
    background-image: url('../images/background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}
div.title_img {
    width:100%; 
    background-color:white;
    opacity: 0.8
}
div.main_content {
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: 100px;
    margin-right: 100px
}
